.info-container {
    
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 300px;
    background-color: #f9f9f9;
  }
  
  h2 {
    margin-bottom: 5px;
    font-size: 1.5em;
  }
  
  p {
    margin: 5px 0;
  }
  